.topcontainerlanding{
    padding:25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.twobuttonlandingpage button{
    background-color: transparent;
    border:none
}
.twobuttonlandingpage button a{
    text-decoration: none;
    color:hsl(0, 0%, 90%);
    padding: 5px 10px;
    border-radius:10px;
}
.twobuttonlandingpage button a:hover{
    color: white;
}
.twobuttonlandingpage .okay{
    background-color: hsl(239.57,95.92%,71.18%);
    padding: 8px 2px;
    border-radius: 8px;
}
.twobuttonlandingpage .okay:hover{
    background-color: hsl(239.57,90.92%,71.18%);

}
.bottomcontainerlanding{
    background:linear-gradient(to bottom,#131222,black);
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    flex-direction: column;
}
.loandtex{
    display:flex;
    align-items: center;
    border: 1px solid lightgrey;
    border-radius: 10px;
    padding:5px;
    font-size: small;
    gap:10px;
    margin-bottom: 30px;
}
.loandtex img{
    border-radius: 10px;
}
.twotext{
    text-align: center;
    margin-bottom: 30px;

}
